/* *IDS */
#opening {
    margin-top: 10px;
}

#container1 {
   display: center;
}

#container2 {
    display: none;
}

#container3 {
   display: none;
}

#slider1 {
    align-self: center;
    width: 200px;
}

#slider2 {
    width: 200px;
}

#slider3 {
    width: 200px;
}

#notice1 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}
#resize {
    font-size: 5px;
}

#player-username {
    display: none;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}
#usernameInput {
    display: none;
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    align-self: center
}

/* ! classes */

/* ?main container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    text-align: center; 
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* ?hidden container */
.hidden {
    display: none;
}


.flex1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-top: 10px;
   padding: 10px;
}
.username {
    display: hidden;
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    align-self: center;
}

.username-text {
    display: hidden;
    margin-top: 10px;
    padding: 5px;
    font-size: 18px;

}