/* *classes */
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    margin: auto;
}

.container2 {
    display: none;
}

#container3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* *IDS */

#slider1 {
    width: 200px;
}

#slider2 {
    width: 200px;
}

#slider3 {
    width: 200px;
}